{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center m-4">
            <h1>Luminique FAQ</h1>            
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-10 text-center" align="justify">
            <h3>About Us</h3>
            <h4>What are you selling?</h4>
            <p>Luminique offers an exquisite range of jewelry for women. Our collection showcases a
                unique selection of silver and gold jewelry embellished with the finest cubic zirconia. From elegant
                necklaces and bracelets to statement earrings, we have something to beautify every moment.
            </p>           

            <h4>What does the guarantee cover?</h4>
            <p>At Luminique, your satisfaction is paramount. We stand behind the quality of our jewelry with a
                comprehensive 1-year guarantee. Should you experience any dissatisfaction, reach out to us, 
                and we promise a resolution that will bring you joy.
            </p>

            <h4>How can I contact Luminique?</h4>
            <p> Our presence is global. Connect with us through email (info@luminique.com) or follow our journeys on social media (facebook,
                instagram, pinterest) for a glimpse into the world of Luminique.               
            </p>
        
            <h3>Security & Payment methods</h3>
            <h4>Is your site secure?</h4>
            <p>Absolutely. Our website is encrypted with ssl (secure sockets layer) technology, ensuring your data is
                always protected. while we take every precaution to guard your information, we also advise maintaining
                the confidentiality of your login details.
            </p>

            <h4>How can I get hold of a discount code?</h4>
            <p>join our newsletter by subscribing at the bottom of our page. You'll not only receive exclusive discount
                codes but also insights into our new collections, special events, and the inspiring world of Luminique.
            </p>

            <h3>Shipping & Returns</h3>
            <h4>What time will the products be dispatched?</h4>
            <p>Orders are typically dispatched within 2-4 business days, with express shipping it could be within
                1-2 business days. And embarking on a journey to reach you no matter where you are in the world.
            </p>

            <h4>Where do your items come from?</h4>
            <p>Our jewelry pieces are handcrafted with love and precision in Germany, Hamburg, and are sent to you with
                care from our local office.
            </p>

            <h4>What about your return policy?</h4>
            <p>We accept returns within 30 days of delivery. Items must be returned in their original condition for a
                full refund. Should there be no fault with the product, the return shipping cost will be covered by the
                customer.
            </p>            
        </div>
    </div>
    <div onclick="scrollToTop()" class="scrollTop rounded-1">Top</div>
</div>
{% endblock %}
