{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/carousel-1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-uppercase text-dark">Luminique</h1>        
        <div class="my-2">
          <a href="{% url 'products' %}" class="btn btn-outline-dark carousel-button py-2">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/carousel-2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-uppercase text-dark">Luminique</h1>
        <p class="text-dark">It is time for presents ...</p>        
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/carousel-3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-uppercase text-dark">Luminique</h1>
        <div class="my-2">
          <a href="{% url 'products' %}" class="btn btn-outline-dark btn-sm carousel-button py-2">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Categories -->
<div class="container">
  <div class="row mb-4">
    <div class="col text-center mt-5 mb-1">
        <h1>Categories</h1>             
    </div>
  </div>
  <div class="row col-8 row-cols-sm-3 g-4 offset-2 mt-2">  
    <div class="col">
      <div class="card card-hover cat">
        <a href="{% url 'products' %}?category=bracelets">
          <img src="/media/cat-bracelets-1.png" class="card-img-top" alt="">  
        </a>
        <h2 class="card-title text-center mt-2">Bracelets</h2>
      </div>
    </div>
    <div class="col">
      <div class="card card-hover cat">
        <a href="{% url 'products' %}?category=earrings">
          <img src="/media/cat-earrings-2.png" class="card-img-top" alt="">
        </a>
        <h2 class="card-title text-center mt-2">Earrings</h2>
      </div>
    </div>
    <div class="col">
      <div class="card card-hover cat">
        <a href="{% url 'products' %}?category=necklaces">
          <img src="/media/сat-necklaces-3.png" class="card-img-top" alt="Demonstration of a set of jewelry: necklace and earrings"> 
        </a>
        <h2 class="card-title text-center mt-2">Necklaces</h2>
      </div>
    </div>
  </div>
</div>

<!-- Blog categories -->
<div class="container">
  <div class="col text-center m-5">
    <h1>Trends, tips & Inspiration</h1>             
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card blog-card mb-5">
        <a href="">
          <img src="/media/blog_1.jpg" class="img-fluid" alt="A woman wearing jewelry">
          <h2 id="blog-hover" class="text-muted">#Trends</h2>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card blog-card mb-5">
        <a href="">
          <img src="/media/blog_3.jpg" class="img-fluid" alt="A set of jewelry">
          <h2 id="blog-hover" class="text-muted">#Tips</h2>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card blog-card mb-5">
        <a href="">
          <img src="/media/blog_2.jpg" class="img-fluid" alt="A master creates a jewelry">
          <h2 id="blog-hover" class="text-muted">#Inspiration</h2>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Top button -->
<div onclick="scrollToTop()" class="scrollTop rounded-1">Top</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

  <script type="text/javascript">
    function scrollToTop(){
      window.scrollTo(0, 0);
    }
  </script>

{% endblock %}  