{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active slide-1">
      <div class="container d-flex justify-content-between">
        <div class="d-flex justify-content-center align-items-start flex-column ms-5">
          <span class="header-text"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong></span>
          <span class="description">Laborum quis voluptatem dolor ab sit voluptatibus ut,
            exercitationem nobis reprehenderit tenetur fugiat quidem
            autem iste veniam magnam obcaecati laboriosam illo esse.
          </span>
          <div class="my-5">
            <a href="" class="btn btn-outline-dark rounded-2 carousel-button py-2">Shop Now</a>
          </div>
        </div>
        <div>
          <img src="/media/luminique-carousel.jpg" class="d-block w-100 carousel-img" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item slide-2">
      <div class="container d-flex justify-content-between">
        <div class="d-flex justify-content-center align-items-start flex-column ms-5">
          <span class="header-text"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong></span>
          <span class="description">Laborum quis voluptatem dolor ab sit voluptatibus ut,
            exercitationem nobis reprehenderit tenetur fugiat quidem
            autem iste veniam magnam obcaecati laboriosam illo esse.
          </span>
          <div class="my-5">
            <a href="" class="btn btn-outline-dark rounded-2 carousel-button py-2">Shop Now</a>
          </div>
        </div>
        <div>
          <img src="/media/luminique-carousel.jpg" class="d-block w-100 carousel-img" alt="...">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>  
{% endblock %}
