{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center m-4">
            <h1>My Profile</h1>                       
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mb-5">
            <h5 class="text-center mb-3">Current Delivery Information</h5>
            <form method="POST" class="form-text mb-2" action="{% url 'profile' %}" id="profile-update-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="float-end mb-4">
                    <a class="btn btn-outline-dark text-uppercase" href="{% url 'home' %}">Cancel</a>
                    <button class="btn btn-green text-uppercase" type="submit">Update
                        Information</button>
                </div>
            </form>
        </div>
        <div class="col ml-lg-5">
            <h5 class="mb-3 text-center">Order History</h5>
            <div class="order-list-wrapper mt-3">
                <table class="table table-sm table-text">
                    <thead>
                        <tr>
                            <th scope="col">Order Number</th>
                            <th scope="col">Date</th>
                            <th scope="col">Items</th>
                            <th scope="col">Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td class="align-middle"><a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:5 }}
                                </a>
                            </td>
                            <td class="align-middle">{{ order.date|date:"Y-m-d" }}</td>
                            <td class="align-middle">
                                {% for item in order.lineitems.all %}
                                {{ item.product.name }} x
                                {{ item.quantity }}
                                <br>
                                {% endfor %}
                            </td>
                            <td class="align-middle">€{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>    
</div>
{% endblock %}
