{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center m-4">
            <h2>Thank You</h2>
            <p class="text-center">Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.</p>                       
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
            <div class="p-2 border shadow body-text">
                <div class="row m-1 bg-grey">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row m-1">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 fw-bold fst-italic">
                            {{ item.product.name }}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="small mb-0 fst-italic">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row m-1 bg-grey">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>                
                <div class="row m-1">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row m-1 bg-grey">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row m-1">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}
                {% if order.county %}
                <div class="row m-1 bg-grey">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row m-1">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>
                {% if order.postcode %}
                <div class="row m-1 bg-grey">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row m-1">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>
                <div class="row m-1 bg-grey">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold text-uppercase">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0 fw-bold">€{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold text-uppercase">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0 fw-bold">€{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row m-1 bg-green">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 fw-bold text-uppercase">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0 fw-bold">€{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row mt-4 text-end">
            <div class="col-12 col-lg-7">
                <a href="{% url 'products' %}" class="btn btn-outline-dark text-uppercase">
                    <span class="icon mr-2">
                        <i class="fas fa-shop"></i>
                    </span>
                    <span>Back to the store</span>
                </a>                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}