html {
    height: 100%;
}

body {
    font-family: "Oswald", sans-serif;
    color:  #000000;
}

logo-font {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #9D7099;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: #000000;
    color: #f6e6f4;;
}

.text-black {
    color: #000 !important;
}
