html {
    height: 100%;
}

body {
    font-family: "Oswald", sans-serif;
    color:  #000000;
    letter-spacing: 0.5px;
}

/* Navbar */

.navbar-brand {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 45px;
    color: #5fa68a !important;
}

.contact-info {
    font-size: 15px;
    letter-spacing: 0.5px;
}

.nav-links {
    font-size: 19px;
    font-weight: 500;
    color: #000000 !important;
}

.order {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-links:hover {
    color: #5fa68a  !important;
}

.nav-items {
    margin-right: 5px;
    padding: 5px;
}

.search-input {
    border: none;
    font-size: 12px;       
    border-color: #000000;
}

input[type=search] {
    border: none;
    border-bottom: 1px solid #000000;
    background-color:#f8f9fa;
    font-size: 1rem;
}

.icon {
    margin: 10px;
}

/* Notifications */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Carousel */

.carousel-button {    
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;    
    border: solid;    
}

/* Products */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

h1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cat-color {
    color: #5fa68a !important;
}

.cat{
    border: none !important;   
} 

.card { 
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.03);
    z-index: 2;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

* {
    scroll-behavior: smooth;    
}

.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    background-color: #5fa68a;
    color: #000000;
    border-radius: 1px solid #000000;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.scrollTop:hover {
    background-color: #000000;
    color: #fff;    
}

/* Product detail */

.btn-green {
    background: white;
    color: #000000 !important;
    border: 1px solid #000000;       
}

.btn-green:hover, 
.btn-green:active, 
.btn-green:focus {
    background-color: #5fa68a;
    color: #000000 !important;
}

.accordion-button:not(.collapsed) {
    color: #000000 !important;
    background-color: #5fa68a !important;
}

.accordion-button:focus { 
    border-color:  #5fa68a !important;
}

/* cursor  */

.update-link,
.remove-item {
    cursor: pointer;
}

@media screen and (max-width: 1400px) {

    .search-mob-nav {
        margin-left: 0 !important;
        width: 200px !important;
    }
}


@media screen and (max-width: 416px) {

    body {       
        font-size: 14px !important;
    }
} 

@media screen and (max-width: 375px) {

    #carouselExampleCaptions {
        display: none;
    }
}