<footer class="mt-auto bg-dark">    

    <!-- Social Media Section -->
    <div class="mb-1 text-center">
        <!-- Facebook -->
        <a class="btn btn-floating m-2 text-white" href="https://www.facebook.com/profile.php?id=61557388376030" target="_blank" rel="noopener"
            aria-label="Visit our Facebook page (opens in a new tab)" role="button"><i
            class="fa-brands fa-facebook fa-lg"></i></a>
        <!-- Instagram -->
        <a class="btn btn-floating m-2 text-white" href="https://www.instagram.com/" target="_blank" rel="noopener"
            aria-label="Visit our Instagram page (opens in a new tab)" role="button"><i
                class="fa-brands fa-instagram fa-lg"></i></a>
        <!-- Pinterest -->
        <a class="btn btn-floating m-2 text-white" href="https://www.pinterest.com/" target="_blank" rel="noopener"
            aria-label="Visit our Pinterest page (opens in a new tab)" role="button"><i
                class="fa-brands fa-pinterest fa-lg"></i></a>
    </div>
    <div class="text-white text-center">
        <div>
            <a class="footer-logo text-center" href="https://luminique-3d156ce4ed79.herokuapp.com/" target="_blank"
            rel="noopener">Luminique</a>
        </div>       
        <div>
            <a class="text-muted" href="{% url 'privacy_policy' %}">Privacy Policy</a>
        </div>        
        <p>Ksenia Sossin</p>
        <p>&copy; 2024</p>
    </div>
    
</footer>