<nav class="navbar navbar-expand-xxl bg-dark">
    <div class="container-fluid">
        <div class="w-100 d-flex justify-content-between">
            <div class="d-none d-lg-block">
                <i class="fa-solid fa-envelope text-light"></i>
                <a href="" class="navbar-sm-brand text-light text-decoration-none
               contact-info">
                    info@luminique.com
                </a>                
            </div>
            <div class="text-light order">Free shipping on orders over €{{ free_delivery_threshold }}</div>
            <div class="d-none d-sm-block">
                <a href="https://www.facebook.com/profile.php?id=61557388376030" class="text-white">
                    <i class="fa-brands fa-facebook me-2"></i></a>
                <a href="www.instagram.com" class="text-white">
                    <i class="fa-brands fa-instagram me-2"></i></a>
                <a href="www.pinterest.com" class="text-white">
                    <i class="fa-brands fa-pinterest"></i></a>
            </div>
        </div>
    </div>
</nav>


<nav class="navbar navbar-expand-xl bg-light navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand ml-4" href="{% url 'home' %}">LUMINIQUE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto">                
                <li class="nav-item nav-items dropdown">
                    <a class="nav-link nav-links dropdown-toggle" href="#" id="navbarDropdownProducts" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-items dropdown">
                    <a class="nav-link nav-links dropdown-toggle" href="#" id="navbarDropdownProducts" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=earrings">Earrings</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=bracelets">Bracelets</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=necklaces">Necklaces</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=earrings,bracelets,necklaces">All Categories</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-items dropdown">
                    <a class="nav-link nav-links dropdown-toggle" href="#" id="navbarDropdownProducts" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Special Offers
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=new_arrivals">New Arrivals</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=deals">Deals</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=new_arrivals,deals,all_specials">All Specials</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-items dropdown">
                    <a class="nav-link nav-links dropdown-toggle" href="" id="navbarDropdownProducts" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Blog
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownBlog">                        
                        <li><a class="dropdown-item" href="{% url 'posts' %}?tag=trends">Trends</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts' %}?tag=tips">Tips</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts' %}?tag=inspiration">Inspiration</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts' %}?tag=trends,tips,inspiration">All Posts</a></li>
                    </ul>
                </li>
            </ul>
            <form method="GET" action="{% url 'products' %}" class="w-auto mx-4 search-mob-nav">
                <div class="input-group">
                    <button class="btn btn-link nav-links search-input" aria-label="Search this site" type="submit"><i
                            class="fa fa-search fa-fw" aria-hidden="true"></i></button>
                    <input class="form-control me-2" type="search" name="q" placeholder="Search Product ..."
                        aria-label="Search">
                </div>
            </form>
            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item icon dropdown">
                    <a class="nav-link nav-links dropdown-toggle" href="#" id="navbarDropdownMyAccount" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i>
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMyAccount">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                        <li>
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Menagement</a>
                        </li>
                        <li>
                            <a href="{% url 'add_post' %}" class="dropdown-item">Blog Menagement</a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        </li>
                        <li>
                            <a href=" {% url 'wishlist' %}" class="dropdown-item">My Wishlist</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        </li>
                        {% else %}
                        
                        <li>
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        </li>
                        <li>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link nav-links ml-2 icon" href="{% url 'view_bag' %}"><i class="fa-solid fa-basket-shopping"></i>
                        {% if grand_total %}
                        <strong>€{{ grand_total|floatformat:2 }}</strong>
                        {% else %}
                        €0.00
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>