{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">        
        <div class="row">
            <div class="col text-center m-4">
                <h1>Blog Management</h1>
                <h4>Add a Post</h4>                                  
            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-12 col-lg-6">
                <form method="POST" action="{% url 'add_post' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <a class="btn btn-outline-dark text-uppercase" href="{% url 'posts' %}">Cancel</a>
                        <button class="btn btn-green text-uppercase" type="submit">Add Post</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}
