{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h1 class="m-4 text-center">{% trans "Sign Out" %}</h1>

<p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" class="text-center" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class="btn btn-outline-dark" href="{% url 'home' %}">Cancel</a>
  <button type="submit" class="btn btn-green">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
