/* Stripe elements / checkout form */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}


.stripe-style-input::placeholder {
    color: #00000084;
    font-size: 13px;
}

select,
select option {
  color:#000;
  font-size: 13px;
}

select:invalid,
select option[value=""] {
  color: #00000084 !important;
  font-size: 13px;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dbdddc;
  z-index: 9999;
} 

/*   Loading overlay & spinner */

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

/* checkout-success */

.bg-grey {
  background: #eef2f1;
}

.bg-green {
  background: #5fa68a;
}